/*div {
    display:inline-block;
}

img {
    width: 380px;
    height: 380px;
    margin: 15px;
}*/
body {
    margin: 60px;
    background-color: rgb(216, 214, 209)
}
header {
    margin: 40px;
    margin-bottom: 20px;
}



.raya {
    width:100px;
    height:4px ;
    background: black;
     margin-left: 40px;
}
.imagen {
    width:320px;
    height:320px;
    position:relative; 
    float: left; 
    margin: 40px;
    left:100 px;
}
img {
    width: 320px;
    height: 320px ;
}
.imagen>div
{
    position: relative;
    bottom:30px;
    left: 170px;
    color:#fff;
    background-color:#000;
    width:150px ;
    height: 25px;
   /* padding:2px 10px;*/
    opacity:0.6;
   /* font-weight:bold;*/
   
}